@font-face {
  font-family: Hebden Grotesque;
  src: url('/public/typography/Hebden_Grotesque.ttf') format('ttf');
}
@font-face {
  font-family: Andale Mono;
  src: url('/public/typography/Andale_Mono.ttf') format('ttf');
}
@font-face {
  font-family: Andale Mono Italic;
  src: url('/public/typography/Andale_Mono_Italic.ttf') format('ttf');
}

html {
  height: 100vh;
  overflow: hidden;
}

body {
  padding: 0;
  margin: 0;
  font-family: Hebden Grotesque, Andale Mono, Andale Mono Italic;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#__next {
  padding: 0;
  margin: 0;
  font-family: Hebden Grotesque, Andale Mono, Andale Mono Italic;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: scroll;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: #fff;
    background: black;
  }
}

.achievement-list {
  list-style: none; /* Remove default bullets */
}

.achievement-list li::before {
  content: '\2022'; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #fff; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

.home-list {
  list-style: none; /* Remove default bullets */
}

.home-list li::before {
  content: '\2013';
  color: #fff;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  margin-top: 3em;
}

.footer-title {
  background: linear-gradient(#fff 0 0) left / var(--p, 0) no-repeat;
  transition: 0.8s, background-position 0s;
}

.active-footer {
  background: #000;
  color: #fff;
}

.footer-title .css-10pt980-MuiTypography-root {
  transition: 0.8s, color 0.6s;
}

.footer-title:hover,
.footer-title:hover .css-10pt980-MuiTypography-root {
  --p: 100%;
  color: #000;
}

#contact-footer:hover {
  text-decoration: underline;
  cursor: pointer;
}

.clip-board {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: clip-fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes clip-fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.7;
  }
}

@keyframes clip-fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.lp-disc {
  position: absolute;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 0;
  background: url('../assets/img/VINILO.png') no-repeat;
  background-position: center;
  background-size: contain;
  animation: rotation 5s infinite linear;
  -webkit-animation: rotation 5s infinite linear;
  -moz-animation: rotation 5s infinite linear;
  animation-play-state: paused;
}

.lp-component:hover .lp-disc {
  cursor: pointer;
  animation-play-state: running;
}

.lp-component:hover .left-text {
  animation: movingDown 1s;
  -webkit-animation: movingDown 1s;
  padding-top: 36.6%;
}

.lp-component:hover .right-text {
  animation: movingUp 1s;
  -webkit-animation: movingUp 1s;
  padding-top: 36.6%;
}

.left-text {
  transition: padding-top 1s 0.6s;
}

.right-text {
  transition: padding-top 1s 0.6s;
}

.text-left-underscore {
  background-image: linear-gradient(#fff 0 0);
  background-size: 200% 0.08em; /* .08em is our fixed height, use what you want  */
  background-position: 200% 100%;
  background-repeat: no-repeat;
  transition: background-position 0.2s 0.3s;
}

.lp-component:hover .text-left-underscore {
  transition: background-position 0.2s 0.9s;
  background-position: 100% 100%;
}

.text-center-underscore {
  background-image: linear-gradient(#fff 0 0);
  background-size: 200% 0.08em; /* .08em is our fixed height, use what you want  */
  background-position: 200% 100%;
  background-repeat: no-repeat;
  transition: background-position 0.3s 0.1s;
  position: relative;
  z-index: 50;
}

.lp-component:hover .text-center-underscore {
  transition: background-position 0.3s 1s;
  background-position: 100% 100%;
}

.text-right-underscore {
  background-image: linear-gradient(#fff 0 0);
  background-size: 200% 0.08em; /* .08em is our fixed height, use what you want  */
  background-position: 200% 100%;
  background-repeat: no-repeat;
  transition: background-position 0.2s;
  position: relative;
  z-index: 50;
}

.lp-component:hover .text-right-underscore {
  transition: background-position 0.2s 1.2s;
  background-position: 100% 100%;
}

@keyframes movingDown {
  from {
    padding-top: 8%;
  }
  to {
    padding-top: 36.6%;
  }
}

@-webkit-keyframes movingDown {
  0% {
    padding-top: 8%;
  }
  100% {
    padding-top: 36.6%;
  }
}

@keyframes movingUp {
  from {
    padding-top: 67%;
  }
  to {
    padding-top: 36.6%;
  }
}

@-webkit-keyframes movingUp {
  0% {
    padding-top: 67%;
  }
  100% {
    padding-top: 36.6%;
  }
}

@keyframes rotation {
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rotation {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes rotation {
  100% {
    -moz-transform: rotate(360deg);
  }
}

.slick-slide {
  padding: 0 15px;
}

.footer-social {
  border-bottom: 0.08em solid #fff;
  background-image: linear-gradient(#fff 0 0);
  background-size: 200% 0.07em; /* .08em is our fixed height, use what you want  */
  background-position: 200% 104%;
  background-repeat: no-repeat;
  transition: background-position;
  position: relative;
}

.footer-social:hover {
  border-bottom: 0;
  transition: background-position 0.5s 0.2s;
  background-position: 100% 104%;
}

.collapsible-item {
  border-bottom: 0.13em solid rgba(0, 0, 0, 0.3);
  background-image: linear-gradient(#000 0 0);
  background-size: 200% 0.13em; /* .08em is our fixed height, use what you want  */
  background-position: 200% 102%;
  background-repeat: no-repeat;
  transition: background-position;
}

.collapsible-item:hover {
  transition: background-position 0.7s;
  background-position: 100% 102%;
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.cursor-move {
  background-position: 100% 200%;
  background-size: 200% 200%;
  background-repeat: no-repeat;
}

.bound-parent:hover .cursor-move {
  transition: background-size 0.5s;
  background-size: 100% 100%;
}

.css-ypiqx9-MuiDialogContent-root {
  padding: 0;
}

.modal-Icons {
  height: 38px;
  width: 100%;
  max-width: 87px;
  min-width: 87px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transition: all 0.3s ease-in-out;
}

.modal-Icons:hover {
  transform: scale(1.1);
}

.play-stop-button {
  transition: all 0.2s ease-in-out;
}

.play-stop-button:hover {
  transform: scale(1.2);
}

.filter-portfolio:hover {
  color: #fff;
}
