@font-face {
  font-family: Hebden Grotesque;
  src: url("../assets/typography/Hebden_Grotesque.ttf") format('ttf')
}
@font-face {
  font-family: Andale Mono;
  src: url("../assets/typography/Andale_Mono.ttf") format('ttf')
}
@font-face {
  font-family: Andale Mono Italic;
  src: url("../assets/typography/Andale_Mono_Italic.ttf") format('ttf')
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Hebden Grotesque, Andale Mono, Andale Mono Italic, sans-serif;
  
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
